

@mixin paddings {
  @for $i from 1 through 3 {
    .pl-#{8*$i} {
      padding-left: #{8*$i}px;
    }
    .pr-#{8*$i} {
      padding-right: #{8*$i}px;
    }
    .pt-#{8*$i} {
      padding-top: #{8*$i}px;
    }
    .pb-#{8*$i} {
      padding-bottom: #{8*$i}px;
    }
  }
}

@mixin margins {
  @for $i from 1 through 3 {
    .ml-#{8*$i} {
      margin-left: #{8*$i}px;
    }
    .mr-#{8*$i} {
      margin-right: #{8*$i}px;
    }
    .mt-#{8*$i} {
      margin-top: #{8*$i}px;
    }
    .mb-#{8*$i} {
      margin-bottom: #{8*$i}px;
    }
  }
}