// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1,
.h1 {
  font-weight: 700;
  letter-spacing: 0px;

  // @include font-size($h1-font-size);
  @include media-breakpoint-down(xxl) {
    line-height: 3.5rem;
    font-size: 3rem;
  }
  @include media-breakpoint-down(xl) {
    line-height: 2.25rem;
    font-size: 2rem;
  }
  @include media-breakpoint-down(lg) {
    font-size: 2rem;
    line-height: 2.25rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}
h2,
.h2 {
  // @include font-size($h2-font-size);
  font-weight: 700;
  letter-spacing: 0px;

  @include media-breakpoint-down(xxl) {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  @include media-breakpoint-down(xl) {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  @include media-breakpoint-down(lg) {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  @include media-breakpoint-down(sm) {
    line-height: 1.75rem;
    font-size: 1.5rem;
  }
}
h3,
.h3 {
  // @include font-size($h3-font-size);
  font-weight: 700;
  letter-spacing: 0px;

  @include media-breakpoint-down(xxl) {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  @include media-breakpoint-down(xl) {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  @include media-breakpoint-down(lg) {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  @include media-breakpoint-down(sm) {
    line-height: 1.5rem;
    font-size: 1.25rem;
  }
}
h4,
.h4 {
  // @include font-size($h4-font-size);
  font-weight: 700;
  letter-spacing: 0px;

  @include media-breakpoint-down(xxl) {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  @include media-breakpoint-down(xl) {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  @include media-breakpoint-down(lg) {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  @include media-breakpoint-down(sm) {
    line-height: 1.25rem;
    font-size: 1.125rem;
  }
}
h5,
.h5 {
  // @include font-size($h5-font-size);
  font-weight: 500;
  letter-spacing: 0px;

  @include media-breakpoint-down(xxl) {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
  @include media-breakpoint-down(xl) {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
  @include media-breakpoint-down(lg) {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
  @include media-breakpoint-down(sm) {
    line-height: 1rem;
    font-size: 1rem;
  }
}
h6,
.h6 {
  // @include font-size($h6-font-size);
  font-weight: 500;
  letter-spacing: 0.25px;

  @include media-breakpoint-down(xxl) {
    font-size: 1rem;
    line-height: 1rem;
  }
  @include media-breakpoint-down(xl) {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  @include media-breakpoint-down(lg) {
    font-size: 0.85rem;
    line-height: 1rem;
  }
  @include media-breakpoint-down(sm) {
    line-height: 0.875rem;
    font-size: 0.75rem;
  }
}

.lead {
  font-weight: 300;

  @include media-breakpoint-down(xxl) {
    font-size: 1.5rem;
    line-height: 3rem;
    letter-spacing: 0.5px;
  }
  @include media-breakpoint-down(xl) {
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: 0.25px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: 0.25px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.25px;
  }
}

// Type display classes
.display-1 {
  // @include font-size($display1-size);
  // font-weight: $display1-weight;
  // line-height: $display-line-height;

  @include media-breakpoint-down(xxl) {
    font-size: 4.25rem;
    line-height: 5.25rem;
    font-weight: 500;
    letter-spacing: -0.75px;
  }
  @include media-breakpoint-down(xl) {
    font-size: 3.75rem;
    line-height: 4.75rem;
    font-weight: 500;
    letter-spacing: -0.75px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 500;
    letter-spacing: -0.5px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2.625rem;
    line-height: 3rem;
    font-weight: 500;
    letter-spacing: -0.25px;
  }
}
.display-2 {
  // @include font-size($display2-size);
  // font-weight: $display2-weight;
  // line-height: $display-line-height;

  @include media-breakpoint-down(xxl) {
    font-size: 4.25rem;
    line-height: 5.25rem;
    font-weight: 300;
    letter-spacing: -0.75px;
  }
  @include media-breakpoint-down(xl) {
    font-size: 3.75rem;
    line-height: 4.75rem;
    font-weight: 300;
    letter-spacing: -0.5px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 300;
    letter-spacing: -0.25px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2.625rem;
    line-height: 3rem;
    font-weight: 300;
    letter-spacing: -0.25px;
  }
}
.display-3 {
  // @include font-size($display3-size);
  // font-weight: $display3-weight;
  // line-height: $display-line-height;

  @include media-breakpoint-down(xxl) {
    font-size: 3.75rem;
    line-height: 4.75rem;
    font-weight: 500;
    letter-spacing: -0.75px;
  }
  @include media-breakpoint-down(xl) {
    font-size: 3.375rem;
    line-height: 3.75rem;
    font-weight: 500;
    letter-spacing: -0.75px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 2.625rem;
    line-height: 3rem;
    font-weight: 500;
    letter-spacing: -0.5px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 500;
    letter-spacing: -0.25px;
  }
}
.display-4 {
  // @include font-size($display4-size);
  // font-weight: $display4-weight;
  // line-height: $display-line-height;

  @include media-breakpoint-down(xxl) {
    font-size: 3.75rem;
    line-height: 4.75rem;
    font-weight: 300;
    letter-spacing: -0.75px;
  }
  @include media-breakpoint-down(xl) {
    font-size: 3.375rem;
    line-height: 3.75rem;
    font-weight: 300;
    letter-spacing: -0.5px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 2.625rem;
    line-height: 3rem;
    font-weight: 300;
    letter-spacing: -0.25px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 300;
    letter-spacing: -0.25px;
  }
}

//
// Horizontal rules
//

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

//
// Emphasis
//

small,
.small {
  @include font-size($small-font-size);
  font-weight: $font-weight-normal;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}

//
// Lists
//

.list-unstyled {
  @include list-unstyled();
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled();
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

//
// Misc
//

// Builds on `abbr`
.initialism {
  @include font-size(90%);
  text-transform: uppercase;
}

// Blockquotes
.blockquote {
  margin-bottom: $spacer;
  @include font-size($blockquote-font-size);
}

.blockquote-footer {
  display: block;
  @include font-size($blockquote-small-font-size);
  color: $blockquote-small-color;

  &::before {
    content: '\2014\00A0'; // em dash, nbsp
  }
}

.quote {
  font-weight: 300;
  font-style: italic;

  @include media-breakpoint-down(xxl) {
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: 0.75px;
  }
  @include media-breakpoint-down(xl) {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.5px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.5px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
  }
}

.caption-1 {
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  @include media-breakpoint-down(xxl) {
    font-size: 0.875rem;
  }
  @include media-breakpoint-down(xl) {
    font-size: 0.75rem;
  }
}

.caption-2 {
  line-height: 1rem;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  @include media-breakpoint-down(xxl) {
    line-height: 1.5rem;
    font-size: 0.875rem;
  }
}

.code-1 {
  font-weight: 400;
  font-family: "Roboto Mono";
  line-height: 1.5rem;
  letter-spacing: 0px;

  @include media-breakpoint-down(xxl) {
    font-size: 1rem;
  }
  @include media-breakpoint-down(xl) {
    font-size: .875rem;
  }
  @include media-breakpoint-down(lg) {
    font-size: .875rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: .875rem;
  }
}